<div class="container">
  <h1 class="title">Levers</h1>
  <a routerLink="/home">Return</a>
  <h1 class="banner" *ngIf="displayBanner">Success</h1>
  <div class="puzzle-container">
    <div class="clue">
      <img src="./assets/images/Lever-puzzle-door-markings.jpg" alt="" />
    </div>
    <div class="levers-container">
      <div
        *ngFor="let lever of levers; index as i"
        id="{{ lever.id }}"
        (click)="toggleLeverPosition(i)"
      >
        <div class="arm" [ngClass]="[lever.position]">
          <div class="handle"></div>
        </div>
        <div class="bottom">
          <div class="screw"></div>
        </div>
      </div>
    </div>
  </div>
</div>
